<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>

    <h2>500 :(</h2>
    <p>internal server error</p>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
