<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>

    <h2>About</h2>
    <p>
      This website was part of
      <a
        href="https://www.theodinproject.com/paths/full-stack-javascript/courses/nodejs"
        >The Odin Project's NodeJs Course</a
      >. The implementation is heavily inspired/taken from
      <a
        href="https://www.youtube.com/watch?v=zb3Qk8SG5Ms&list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU"
        >this amazing Net Ninja playlist.</a
      >
    </p>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
