  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mini Message Board <%= title %></title>
    <link href="/style.css" rel="stylesheet" />
  </head>
